service_name         = "your-app-name-here"
cost_center          = "your-app-name-here-cc"
lambda_function_name = "your-app-name-here-lambda"
api_name             = "your-app-name-here-api"
dynamodb_table_name  = "your-app-name-here-table"
dynamodb_global_secondary_index_name = "your-app-name-here-gsi"
lambda_dynamodb_policy_name = "your-app-name-here-dynamodb-policy"
api_domain_name = "your-app-name-here.your-domain.com"
domain_name = "your-domain.com"
app_login_url="http://example-app.com/login"
email_from="your@email.com"
email_password="your-password"
email_smtp_host="your.host"
email_smtp_port=587
